<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Интернет магазин{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">Интернет магазин</a>
  </div>
  <div id="subheader">
    <div class="cart">
      {% with total_items=cart|length %}
        {% if cart|length > 0 %}
          Ваша корзина:
          <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }}: {{ cart.get_total_price }} руб.
          </a>
        {% else %}
          Ваша корзина пуста
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>