{% extends 'shop/base.html' %}
{% block title %}Спасибо за заказ{% endblock %}
{% block content %}
    <h1>Спасибо за заказ</h1>
    <p>Ваш заказ был успешно сформирован. Номер Вашего заказа <strong>{{ order.id }}</strong></p>
{% endblock %}