{% extends 'shop/base.html' %}
{% block title %}Выбрать{% endblock %}
{% block content %}
    <h1>Выбрать</h1>
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart%}
                <li>
                    {{ item.quantity }} x {{ item.product.name}}
                    <span>{{ item.total_price | floatformat:"2" }}</span>
                </li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}%)
                    <span>{{ cart.get_discount | floatformat:"2" }}</span>
                </li>
            {% endif %}
        </ul>
        <p>Общая сумма: {{ cart.get_total_price_after_discount | floatformat:"2" }}</p>
    </div>
    <form action="." method="POST" class="order-form">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Разместить заказ"></p>
    </form>
{% endblock %}